/**
 * all custom sass elements built on top of existing ionic css are here
 * later these should be split across multiple appropriate files when it gets too large
 */

// Variables
 $beer-brown:rgb(139, 70, 33);
 $beer-orange:#FF8F00;
 $beer-gray:rgb(238, 242, 243);
 $beer-gray-text:#a2a2a2;
 $bar-beer-text:#fff !important;
// -------------------------------
// Cards
// -------------------------------
.pane {
  background-color: #fff;
}
a {
  color: $beer-brown;
}
.make-invisible {
  display: none;
}
/* tutorial */

// the implementation below is really bad... will fix this later
.button.button-energized.button-clear.no-animation {
  font-weight: $headings-font-weight;
  color: $bar-beer-text;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 100px;
  background-color: #fff;
  text-align: center;
  li, p {
    color: $beer-gray-text;
  }
  h3 {
    padding-top: 10px;
  }
  img {
    padding: 30px 0 0;
  }
}
/* header & background */

.bar {
  &.bar-energized {
    background-color: $beer-brown;
  }
}
/* Recommend view */

.swipe-cards {
  text-align: center;
}
.custom-card {
  margin: 20px;
  border-radius: 10px;
  background-color: $beer-gray;
}
.custom-card-button {
  color: $button-energized-text;
  background-color: $beer-orange;
  box-shadow: 0 4px $beer-brown;
}
.swipe-card {
  @extend .card;
  @extend .custom-card;
  position: relative;
  .title {
    @extend .item;
    @extend .custom-card-button;
    padding: 13px 10px;
    position: absolute;
    bottom: 3px;
    width: 100%;
    white-space: normal;
    p {
      margin: 0;
      font-weight: $headings-font-weight + 100;
    }
  }
  img {
    margin: 0 auto;
    display: block;
    max-height: 300px;
    border-radius: 50%;
  }
}
/* Card detail view */

.card-detail {
  @extend .list;
  @extend .card;
  @extend .custom-card;
  text-align: center;
  .button-block {
    @extend .custom-card-button;
  }
  img {
    height: 250px;
    border-radius: 50%;
  }
}
/* My Beers view */

.mybeer {
  .item-thumbnail-left > img {
    left: $item-thumbnail-margin + 25;
    max-width: $item-thumbnail-width * 0.5;
    border-radius: 50%;
  }
  .edit-mode {
    left: $item-thumbnail-margin + 25;
    top: $item-thumbnail-height/3;
    position: absolute;
  }
  // .item-thumbnail-left > .training {
  //   left: $item-thumbnail-margin + 20;
  //   top: $item-thumbnail-width * .25;
  //   max-width: $item-thumbnail-width * 0.5 + 10;
  // }
  h2 {
    margin-top: 10px;
  }
  .item-thumbnail-left {
    // min-height: $item-thumbnail-height * 0.5;

  }
  .item-content {
    padding-top: $item-thumbnail-width/3;
  }
}
// doesn't work very well across different screen sizes
// replaced with plain simple border.
// .item-thumbnail-left:after {
//   position:relative;
//   left: -$item-thumbnail-width + 10;
//   content: url("../../dist/img/border_gradient.png");
// }
// .item {
//   border:none;
// }
