/**
 * all custom sass elements built on top of existing ionic css are here
 * later these should be split across multiple appropriate files when it gets too large
 */

// Variables
$beer-brown: #D39819;
$beer-orange: $button-energized-active-border;
$description-text-color:$button-stable-active-border;
// -------------------------------
// Cards
// -------------------------------
.pane {
  background-color: #f8f8f8;
}
a {
  color: $beer-brown;
}
/* tutorial */

// below is really bad... will fix this later
.button.button-energized.button-clear.no-animation {
  font-weight: $headings-font-weight;
  color: $beer-brown;
}
// above


.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 100px;
  background-color: #fff;
  text-align: center;
  li, p {
    color: $description-text-color;
  }
  h3 {
    padding-top: 10px;
  }
  img {
    padding: 30px 0 0;
  }
}
/* header & background */

/* Recommend view */

.swipe-cards {
  text-align: center;
}
.swipe-card {
  @extend .card;
  border-radius: 5px;
  .title {
    @extend .item;
    background-color: $energized;
    color: $button-energized-text;
    padding: 7px 5px 0px;
    white-space: normal;
  }
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}
/* Card detail view */

.card-detail {
  @extend .list;
  @extend .card;
  text-align: center;
  border-radius: 5px;
  .button-block {
    margin-bottom: 0px;
  }
}
/* My Beers view */

.mybeer {
  .item-thumbnail-left > img {
    left: $item-thumbnail-margin + 25;
    max-width: $item-thumbnail-width * 0.5;
  }
  // .item-thumbnail-left > .training {
  //   left: $item-thumbnail-margin + 20;
  //   top: $item-thumbnail-width * .25;
  //   max-width: $item-thumbnail-width * 0.5 + 10;
  // }
  h2 {
    margin-top: 10px;
  }
  .item-thumbnail-left {
    // min-height: $item-thumbnail-height * 0.5;

  }
  .item-content {
    padding-top: $item-thumbnail-width/3;
  }
}
// doesn't work very well across different screen sizes
// replaced with plain simple border.
// .item-thumbnail-left:after {
//   position:relative;
//   left: -$item-thumbnail-width + 10;
//   content: url("../../dist/img/border_gradient.png");
// }
// .item {
//   border:none;
// }
