/**
 * all custom sass elements built on top of existing ionic css are here
 * later these should be split across multiple appropriate files when it gets too large
 */

// Variables
// -------------------------------
// Cards
// -------------------------------
.pane {
  background-image: url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0203/0907/0_fix_dots-yellows_with_FFB400-FFE61A_shop_preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Recommend view */
&.bar-black {
  background-color: #000;
  .button {
    color: #fff;
  }
  .title {
    color: #fff;
  }
}

.swipe-cards {
  text-align: center;
}
.swipe-card {
  @extend .card;
  border-radius: 5px;
  .title {
    @extend .item;
    background-color: $energized;
    color: $button-energized-text;
    padding: 7px 5px 0px;
    white-space: normal;
  }
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}
/* Card detail view */

.card-detail {
  @extend .list;
  @extend .card;
  text-align: center;
  border-radius: 5px;
  .button-block {
    margin-bottom: 0px;
  }
}
/* My Beers view */

.mybeer {
  .item-thumbnail-left > img {
    left: $item-thumbnail-margin + 25;
    max-width: $item-thumbnail-width * 0.5;
  }
  .item-thumbnail-left > .training {
    left: $item-thumbnail-margin + 20;
    top: $item-thumbnail-width * .25;
    max-width: $item-thumbnail-width * 0.5 + 10;
  }
  h2 {
    margin-top: 10px;
  }
  .item-thumbnail-left {
    // min-height: $item-thumbnail-height * 0.5;

  }
  .item-content {
    padding-top: $item-thumbnail-width/3;
  }
}
// doesn't work very well across different screen sizes
// replaced with plain simple border.
// .item-thumbnail-left:after {
//   position:relative;
//   left: -$item-thumbnail-width + 10;
//   content: url("../../dist/img/border_gradient.png");
// }
// .item {
//   border:none;
// }
