<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="!slideIndex">
      Skip
    </button>
    <button class="button button-positive button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
      Previous
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="slideIndex != 2">
      Next
    </button>
    <button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 2">
      Start using MyApp
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>Welcome to NextBeer</h3>
      <div id="logo">
        <img src="./dist/img/beer-sm.png" alt="beer-logo">
      </div>
      <p>Learn how to get started in 3 easy steps.</p>
      <p>Swipe or tap "Next" to begin.</p>
    </ion-slide>
    <ion-slide>
      <h3>1. tell us about your preference.</h3>
      <div id="list">
        <ol>
          <li>Swipe right on beers you like or want to try.</li>
          <li>Swipe left on the rest.</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide>
      <h3>2. discover beers you want to try out.</h3>
      <div id="list">
        <ol>
          <li>check new recommendations bubbling up.</li>
          <li>see the details</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide>
      <h3>3. collect beers you like</h3>
      <div id="list">
        <ol>
          <li>click to add the item to the mybeer list</li>
        </ol>
      </div>
    </ion-slide>
    <ion-slide>
      <h3>4. keep swiping</h3>
      <div id="list">
        <ol>
          <li>click to add the item to the mybeer list</li>
        </ol>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
