<ion-view title="Details">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="detailCtrl">
    <div class='card-detail'>
      <img ng-src="{{beer.beer_image_url}}">
      <h4>{{beer.beer_name}}</h4>
      <div class='row'>
        <div class='col right-border'>
          <h4>ABV</h4>
          <p>{{beer.beer_abv}}&nbsp;%</p>
        </div>
        <div class='col'>
          <h4>Style</h4>
          <p>{{beer.beer_style}}</p>
        </div>
      </div>
      <button ng-if="!beer.isFavorite" ng-click="showAlertPopUp()" class="button button-block button-energized">
        <i class="icon ion-heart"></i>&nbsp;Add to Favs
      </button>
      <button ng-if="beer.isFavorite" ng-click="showConfirmPopUp()" class="button button-block button-assertive">
        <i class="icon ion-trash-b"></i>&nbsp;Remove from Favs
      </button>
    </div>
  </ion-content>
</ion-view>
