<ion-view title="Recommended" class="pane">
  n-navicon">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content style="overflow:scroll" ng-controller="CardsCtrl">
    <swipe-cards>
      <swipe-card ng-repeat="beer in beers" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" ng-click="passSelectedBeer({{beer}})">
        <img ng-src="{{beer.beer_image_url || beer.tutorialImgUrl}}">
        <div class="title">
          <p>{{beer.beer_name || beer.tutorialName}}</p>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>
