<ion-view title="Fav" class="pane">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="mybeer" ng-controller="MyBeersCtrl">
      <ion-item class="item item-thumbnail-left" ng-repeat="beer in myBeers track by $id($index)" ng-click="passSelectedBeer($index)" ui-sref="app.detail">
        <img ng-src="{{beer.beer_image_url}}">
        <h2>{{beer.beer_name}}</h2>
        <p>{{beer.beer_abv}}%</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
