<ion-view title="Favs" class="pane">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-beer" ui-sref="app.recommend"></button>
  </ion-nav-buttons>
      <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="toggleEditMode()">{{editText}}</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="mybeer">
      <ion-item class="item item-thumbnail-left" ng-repeat="beer in myBeers" ng-click="passSelectedBeer({{beer}})">
        <img ng-if="!isEditMode" ng-src="{{beer.beer_image_url}}">
        <i class="edit-mode icon button-icon ion-ios7-minus" ng-if="isEditMode" ng-click="deleteSelectedBeer({{beer}})"> </i>
        <h2>{{beer.beer_name}}</h2>
        <p>{{beer.beer_abv}}%</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
